body {
  background-image: url('https://wallpaperaccess.com/full/2923163.jpg');
  font-family: Georgia, "Times New Roman", Times, serif;
  object-fit: cover;
}

button{
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
}



